/* ---------------------------------------------------------------------------------------------------- */
/* RESET CSS */

/* 0. resetting css is highly recommended; this overrides some default browser styles and allows you to start from a "blank slate" */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size:100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.space {
  margin-bottom: 0.7em;
}

#tutorial {
  position: absolute;
  top: 0px;
  left: 0px;
}

#header {
    color: rgb(255,153,0);
    text-align: left;
    font-weight: 700;
    font-style: italic;
}

h2 {
  display: inline;
}

#main-title, #headerbuttons {
  float: left;
}

#options {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

/* bubble visualization style */

circle {
  stroke: #fff;
  stroke-width: .5px;
}

.bubble_label, .option_button, .got_it, .node, .tutorialbutton, .reset_button {
  cursor: pointer;
}

#tooltip {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: white;
    opacity: .8333;
    background: #333;
    padding: 5px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    position: absolute;
    z-index: 999;
    visibility: hidden;
    white-space: nowrap;
    pointer-events: none;
}

/* clickable text */

.condlist, .invlist, a {
  cursor: pointer;
  color: steelblue;
  text-decoration:underline;
}

/* timeselector chart */
.brush .extent {
  stroke: #fff;
  fill-opacity: .10;
  shape-rendering: crispEdges;
}

