.condition .institution{
    display: block;
    width: 100%;
    height: 100%;
}

.condition .institution:hover .institution-logo,
.condition .institution:hover .institution-name,
.condition .institution:hover .institution-location{
    opacity: .85;
}

.condition .institution-logo{
    padding-left: 0;
}
.condition .institution-name{
    color: #333;
}

