/*Global*/
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'), local('Raleway-Regular'), url(/static/fonts/Raleway-Regular.ttf) format('truetype');
}

.bottom{
    border-top: 1px solid #ccc;
}

img {
    width: 100%;
}

.overflow {
    height: 500px;
    overflow-y: overlay;
    overflow-x: hidden;
    margin-bottom: 1em;
}

.overflow-small {
    height: 250px;
}

.wrapper{
    width: 90%;
    margin: 0 auto;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

/*Global Components*/
.block-list-item{
    border-bottom: 1px solid #ccc;
    padding: 1.43em 0 1.43em 0;
}

.block-list-item:nth-of-type(1){
    padding-top: 0;
}

.block-list-item:last-child{
    border: none;
}

.inline-list-item{
    margin-right: 1em;
}

.key{
    font-weight: bold;
    margin-right: 1em;
    text-transform: uppercase;
    font-size: 85%;
}

.more-info{
    border-radius: 50%;
    padding: 1px 5px 0px 5px;
    color: white;
    font-size: 12px;
    transform: translateY(-15%);
}

.page-header{
    margin-top: 0;
}

header {
    margin-top: 150px;
}

a .btn {
    font-size: 60%;
    transform: translateY(-50%);
}

.nodec:hover {
    text-decoration: none;
}

.modal-input {
    margin-bottom: 10px;
}

.modal-input .input-group-addon {
    text-align: left;
    min-width: 85px;
}

.search.form-inline,
.search.form-inline .form-group,
.search.form-inline .form-group .input-group{
    width: 100%;
}

.search.form-inline{
    margin-bottom: 1.43em;
}

.search.form-inline .form-group .input-group,
.search.form-inline .form-group .input-group input[type=text]{
    height: 40px;
}

.btn.input-group-addon{
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.no-disc {
    list-style-type: none;
}

/*Global Responsive*/
@media (max-width: 992px) {
    body{font-size: 12px;}
    h1 .site-name {
        font-size: 36px;
    }
    h1,
    .h1 {
      font-size: 30px;
    }
    h2,
    .h2 {
      font-size: 24px;
    }
    h3,
    .h3 {
      font-size: 18px;
    }
    h4,
    .h4 {
      font-size: 14px;
    }
    h5,
    .h5 {
      font-size: 12px;
    }
    h6,
    .h6 {
      font-size: 10px;
    }

    .overflow{height: 300px;}
    .overflow-small{height: 200px;}
}

/*Top navbar*/
.navbar-brand{
    display: block;
    height: auto;
}
.navbar-brand img{
    width: 32px;
    display: block;
}

.navbar-button {
        transform: translateY(100%);
    }

@media (min-width: 768px) {
    .navbar-search {
        transform: translateY(50%);
    }
    header {
        margin-top: 100px;
        margin-bottom: 15px;
    }
}

nav .site-name{
    padding-left: 2%;
    margin-top: 12px;
    font-weight: 300;
}

.site-name {
    letter-spacing: 1px;
    font-family: 'Raleway', 'Helvetica Neue', Helvetica, sans-serif;
}

nav .site-name a{
    text-decoration: none;
    color: #333;
}

nav .site-name a:hover{
    opacity: .9;
}


/* search autocomplete list */
.ui-autocomplete {
    z-index: 1050;
}

.ui-autocomplete-category{
    font-weight: bold;
    background-color: #ccc;
    position: relative;
    margin: 0;
    padding: 3px 1em 3px .4em;
}



/* ratings styles */
#ratings-summary {
    margin-bottom: 20px;
}

.ratings-table {
    margin-top: 20px;
}

.rating-overall {
    font-size: 150%;
    font-weight: bold;
}

.rating-category {
    font-size: 135%;
}

.rating {
    color: #FFB90F;
}

.stars-text {
    text-align: center;
}




/* facility and sponsor list */
.facility {
    margin-bottom: .5em;
}

#facility-list ul.list-group-horizontal {
    padding-left: 0;
      -moz-column-count: 3;
      -moz-column-gap: 20px;
      -webkit-column-count: 3;
      -webkit-column-gap: 20px;
  column-count: 3;
  column-gap: 20px;
}




/* horizontal list group */
.list-group-horizontal .list-group-item {
    display: inline-block;
}




/*Footer*/
footer{
    margin-top: 4em;
    padding-top: 4em;
    padding-bottom: 4em;
    border-top: 1px solid #ccc;
    text-align: center;
}

footer .site-name:hover{
    text-decoration: none;
    opacity: .9;
}


/* institution page */
svg rect:hover, svg text:hover {
    cursor: pointer;
}

tspan {
    font-weight: bold;
}

#inst-summary, .ratings-table {
    margin-left: 1.5em;
}

#top-conditions {
    text-align: center;
}



/* ratings */
.main-rating {
    font-size: 1.5em;
}

.rating-large {
    font-size: 150%;
    margin-top: .3em;
}





/* map */
#map { 
    height: 400px;
}

.leaflet-popup{
    cursor: pointer;
}



/* trial filters */
.filter-col-header {
    font-size: .8em;
    font-weight: bold;
    text-align: center;
    vertical-align: bottom;
}

.filter-col-header td {
    padding-bottom: 0.4em;
}

.filter-row td {
    padding-bottom: 0.5em;
    font-size: 0.8em;
}




/* criteria active learning */
.criteria-highlight {
    background-color: #ddd;
}

#criteria-list td {
    vertical-align: top;
    word-wrap:break-word;
}

#criteria-list table {
    width: 100%;
    table-layout:fixed;
}

#criteria-list td.long-text {
    padding-right: 2em;
}

.criteria-text {
    font-size: 1.2em;
}

.disabled-text {
    color: #888;
}


#learning-window {
    height: 150px;
}

#terms-and-preds ul {
    padding-left: 1em;
}

.word-highlight {
    font-size: 1.1em;
    font-weight: bold;
    text-decoration: underline;
}

.word-btn {
    margin-left: 1em;
}

#term-include, #predictor-include {
    font-weight: bold;
    color: green;
}

#term-exclude, #predictor-exclude {
    font-weight: bold;
    color: red;
}
