/*Global*/
.wrapper{
	width: 90%;
	margin: 0 auto;
}

img{
	width: 100%;
}

.rating{
	display: inline-block;
	margin-left: 1em;
}

.overflow{
	height: 425px;
	overflow-y: overlay;
	overflow-x: hidden;
}

.bottom{
	border-top: 1px solid #ccc;
}

/*Global Components*/
.key{
	font-weight: bold;
	margin-right: 1em;
	text-transform: uppercase;
	font-size: 85%;
}

.inline-list-item{
	margin-right: 1em;
}

.more-info{
	border-radius: 50%;
	padding: 1px 5px 0px 5px;
	color: white;
	font-size: 12px;
}

.block-list-item{
	border-bottom: 1px solid #ccc;
	padding: 1.43em 0 1.43em 0;
}
.block-list-item:nth-of-type(1){
	padding-top: 0;
}

.block-list-item:last-child{
	border: none;
}

.page-header{
	margin-top: 0;
}


/*Top navbar*/
.navbar-brand{
	display: block;
	height: auto;
}
.navbar-brand img{
	width: 75%;
	display: block;
}

nav .site-name{
	padding-left: 0;
	margin-top: 12px;
}

nav .site-name a{
	text-decoration: none;
	color: #333;
}

nav .site-name a:hover{
	opacity: .9;
}

/*Footer*/
footer{
	margin-top: 4em;
	padding-top: 4em;
	padding-bottom: 4em;
	border-top: 1px solid #ccc;
	text-align: center;
}

footer .site-name:hover{
	text-decoration: none;
	opacity: .9;
}






