/*Global*/
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'), local('Raleway-Regular'), url(/static/fonts/Raleway-Regular.ttf) format('truetype');
}

.bottom{
    border-top: 1px solid #ccc;
}

img {
    width: 100%;
}

.overflow {
    height: 550px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 1em;
}

.overflow-stopped {
    height: 550px;
    overflow: hidden;
    margin-bottom: 1em;
}

.overflow-small {
    height: 250px;
}

.wrapper{
    width: 90%;
    margin: 0 auto;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

/*Global Components*/
.block-list-item{
    border-bottom: 1px solid #ccc;
    padding: 1.43em 0 1.43em 0;
}

.block-list-item:nth-of-type(1){
    padding-top: 0;
}

.block-list-item:last-child{
    border: none;
}

.inline-list-item{
    margin-right: 1em;
}

.key{
    font-weight: bold;
    margin-right: 1em;
    text-transform: uppercase;
    font-size: 85%;
}

.more-info{
    border-radius: 50%;
    padding: 1px 5px 0px 5px;
    color: white;
    font-size: 12px;
    transform: translateY(-15%);
}

.page-header{
    margin-top: 0;
}

header, .trial-pane-header {
    margin-top: 150px;
}

a .btn {
    font-size: 60%;
    transform: translateY(-50%);
}

.nodec:hover {
    text-decoration: none;
}

.modal-input {
    margin-bottom: 10px;
}

.modal-input .input-group-addon {
    text-align: left;
    min-width: 85px;
}





.main-search-addon {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.twitter-typeahead{ 
    float:left; 
    width:100%;
}

.tt-input {
    width: 100%;
}

.twitter-typeahead .form-control {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    height: auto;
}

.twitter-typeahead .tt-query, .twitter-typeahead .tt-hint {
    margin-bottom: 0;
}

.tt-dropdown-menu {
    width: 100%;
    min-width: 160px;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}
.tt-suggestion {
    display: block;
    padding: 3px 20px;
}
.twitter-typeahead .tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0081c2;
}
.tt-suggestion.tt-cursor a {
    color: #fff;
}
.tt-suggestion p {
    margin: 0;
}

.tt-suggestion {
    cursor: pointer;
}

.search-header {
    font-size: 18px;
    background-color: #eee;
    padding-left: .6em;
    font-weight: 500;
}

.btn.input-group-addon{
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}





.no-disc {
    list-style-type: none;
}

.dropdown-wide {
    width: 60%;
    text-align: right;
}




/*Global Responsive*/
@media (max-width: 992px) {
    body{font-size: 12px;}
    h1 .site-name {
        font-size: 36px;
    }
    h1,
    .h1 {
      font-size: 30px;
    }
    h2,
    .h2 {
      font-size: 24px;
    }
    h3,
    .h3 {
      font-size: 18px;
    }
    h4,
    .h4 {
      font-size: 14px;
    }
    h5,
    .h5 {
      font-size: 12px;
    }
    h6,
    .h6 {
      font-size: 10px;
    }

    .overflow{height: 300px;}
    .overflow-small{height: 200px;}
}



/*Top navbar*/
.navbar-brand{
    display: block;
    height: auto;
}
.navbar-brand img{
    width: 32px;
    display: block;
}


@media (min-width: 992px) {
    header, .trial-pane-header {
        margin-top: 100px;
        margin-bottom: 15px;
    }
    .container-fluid {
        height: 70px;
    }
    .navbar-button, .navbar-search {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
    }
    .navbar-button {
        text-align: center;
    }
}

@media (max-width: 992px) {
    .navbar-button, .navbar-search {
        padding-bottom: 12px;
    }
    .navbar-button {
        text-align: right;
    }
}


nav .site-name{
    padding-left: 2%;
    margin-top: 16px;
    font-weight: 300;
}

.site-name {
    letter-spacing: 1px;
    font-family: 'Raleway', 'Helvetica Neue', Helvetica, sans-serif;
}

nav .site-name a{
    text-decoration: none;
    color: #333;
}

nav .site-name a:hover{
    opacity: .9;
}






/* ratings styles */
#ratings-summary {
    margin-bottom: 20px;
}

.ratings-table {
    margin-top: 20px;
}

.rating-overall {
    font-size: 150%;
    font-weight: bold;
}

.rating-category {
    font-size: 135%;
}

.rating {
    color: #FFB90F;
}

.stars-text {
    text-align: center;
}

.main-rating {
    font-size: 1.5em;
}

.rating-large {
    font-size: 150%;
    margin-top: .3em;
}





/* facility and sponsor list */
.facility {
    margin-bottom: .5em;
}

#facility-list ul.list-group-horizontal {
    padding-left: 0;
      -moz-column-count: 3;
      -moz-column-gap: 20px;
      -webkit-column-count: 3;
      -webkit-column-gap: 20px;
  column-count: 3;
  column-gap: 20px;
}




/* horizontal list group */
.list-group-horizontal .list-group-item {
    display: inline-block;
}




/*Footer*/
footer{
    margin-top: 4em;
    padding-top: 4em;
    padding-bottom: 4em;
    border-top: 1px solid #ccc;
    text-align: center;
}

footer .site-name:hover{
    text-decoration: none;
    opacity: .9;
}


/* institution page */
svg rect:hover, svg text:hover {
    cursor: pointer;
}

tspan {
    font-weight: bold;
}

#inst-summary, .ratings-table {
    margin-left: 1.5em;
}

#top-conditions {
    text-align: center;
}






/* map */
#map { 
    height: 400px;
}

.leaflet-popup{
    cursor: pointer;
}



/* trial pane */
.filter-col-header {
    font-size: .8em;
    font-weight: bold;
    text-align: center;
    vertical-align: bottom;
}

.filter-col-header td {
    padding-bottom: 0.4em;
}

.filter-row td {
    padding-bottom: 0.5em;
    font-size: 0.8em;
}

.filter-div {
    margin-top: 1em;
}

.filter-div h6 {
    margin-left: 1em;
    margin-top: 1px;
    margin-bottom: 1px;
}

#see-more-trials:hover {
    cursor: pointer;
}

.filter-form {
    text-align: center;
}

.light-border {
    border-style: dotted;
    border-width: 1px;
    border-color: #ddd;
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}





/* criteria active learning */
.criteria-highlight {
    background-color: #ddd;
}

.small-cell {
    font-size: 0.7em;
    text-align: center;
}

#criteria-list td {
    vertical-align: top;
    word-wrap:break-word;
}

#criteria-list table {
    width: 100%;
    table-layout:fixed;
}

#criteria-list td.long-text {
    padding-right: 2em;
}

.criteria-text {
    font-size: 1.15em;
}

.disabled-text {
    color: #888;
}

#term-exclude-list {
    border-right: solid 1px #ccc;
}

#learning-pane-term, #learning-pane-predictor {
    height: 250px;
}

#terms-and-preds h4, #terms-and-preds div {
    padding-left: 1em;
}

.overlay-box {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 500;
    background-color: rgba(235,235,235,0.5);
}

#terms-and-preds ul {
    padding-left: 1em;
}

.word-highlight {
    font-size: 1.1em;
    font-weight: bold;
    text-decoration: underline;
}

.word-btn {
    margin-left: 1em;
}

#term-include, #predictor-include {
    font-weight: bold;
    color: green;
}

#term-exclude, #predictor-exclude {
    font-weight: bold;
    color: red;
}

.active-learn-table {
    width: 100%;
}




/* approval pages */
.top-margin-1em {
    margin-top: 1em;
}
.top-margin-2em {
    margin-top: 2em;
}

#concept-term-table table {
    margin-top: 1em;
}




/* about pages */

.bottom-margin-2em {
    margin-bottom: 2em;
}

#about-page p, #ratings-description p {
    font-size: 1.12em;
}



