{% include 'header.html' %}

  <div id='about-page' class='wrapper container'>
    <header class='container'>
      <div class='page-header row'>
        <div class='col-sm-12 col-md-6'>
          <h2>About this project</h2>
        </div>
      </div>
    </header>
    <section class='container'>
      <div class='row'>
        <div class='col-sm-12 col-md-12'>
          <div>
            <p>
              This will be a description of the project.
            </p>
          </div>
        </div>
      </div> <!-- end .row -->
    </section>

{% include 'footer.html' %}