{% include 'header.html' %}

<div id='active-learning' class='wrapper'>
  <header class='container'>
    <div class='page-header row'>
      <h1>Concept: <b>{{ initial_term }}</b></h1>
    </div>
  </header>
  <section class='container'>
    <div id='learning-window' class='col-xs-6 col-sm-offset-1 col-sm-8 col-md-offset-1 col-md-8'>
    </div> 
    <div id='learning-legend' class='col-xs-6 col-sm-3 col-md-3'>
      <p>A <b>term</b> is a word or phrase that is related to the concept.</p>
      <p>A <b>predictor</b> is a word or phrase that often co-occurs with the concept, e.g. "hypertension" is often preceded by "chronic".
         Don't worry about whether a certain word or phrase <em>uniquely</em> co-occurs with the concept.</p>
      <p>&nbsp;</p>
    </div>
  </section>
  <section class='container bottom'>
    <div id='terms-and-preds'>
      <div class='col-xs-12 col-sm-6 col-md-3'>
        <h4>Included terms</h4>
        <div class='overflow overflow-small'>
          <ul id='term-include' class='no-disc'>
          </ul>
        </div>
      </div>
      <div class='col-xs-12 col-sm-6 col-md-3'>
        <div class='overflow overflow-small'>
          <h4>Excluded terms</h4>
          <ul id='term-exclude' class='no-disc'>
          </ul>
        </div>
      </div>
      <div class='col-xs-12 col-sm-6 col-md-3'>
        <div class='overflow overflow-small'>
          <h4>Included predictors</h4>
          <ul id='predictor-include' class='no-disc'>
          </ul>
        </div>
      </div>
      <div class='col-xs-12 col-sm-6 col-md-3'>
        <div class='overflow overflow-small'>
          <h4>Excluded predictors</h4>
          <ul id='predictor-exclude' class='no-disc'>
          </ul>
        </div>
      </div>
    </div> 
  </section>
</div>

{% include 'footer.html' %}

<script src="{{ url_for('static', filename='js/active_learning.js') }}"></script>
