{% include 'header.html' %}
<div id='condition-{{cond_id}}' class='condition wrapper'>
  <header class='page-header container'>
    <div class='row'>
      <div class='col-md-12'>
        <h1>{{ cond_name }}
          <small>{{ cond_name_mesh }}</small>
          <button type="button" class="btn btn-primary more-info" data-toggle="tooltip" data-placement="right" title="{{ cond_name_mesh_info }}">?</button>
        </h1>
      </div>
    </div>
    <div class='row'>
      <div class='symptoms small col-md-12'>
        <h2 class='h4'>Synonyms</h2>
        <p>
          {% for synonym in cond_synonyms %}
            <span class='synonym inline-list-item'>{{ synonym }}</span>
          {% endfor %}
        </p>
      </div>
    </div>
    <div class='row'>
      <div class='summary small col-md-12'>
          <h2 class='h4'>Summary</h2>
          {{ cond_summary|safe }}
      </div>
    </div>
  </header>
  <section class='container'>
    <div class='row'>
      {% include 'trial_list.html' %}
      {% include 'institution_list.html' %}
    <div> 
  </section>
</div>

{% include 'footer.html' %}