        <footer class='text-muted' role='contentinfo'>
          <div class='container'>
            <a class='site-name text-info' href="{{ url_for('home') }}"><h1 class='h4'><span style="letter-spacing: 2px;">Discover</span>CT</h1></a>
            <p><a href="{{ url_for('home') }}">About</a>&nbsp;
                <a href="{{ url_for('home') }}">Disclaimer</a>&nbsp;
                <a href="{{ url_for('home') }}">Contact</a><a</p>
          </div>
        </footer>


    </div> <!-- end .wrapper.container -->

  </body>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</html>

