{% include 'header.html' %}
  <div id='index' class='index wrapper container'>
    <header id='main-search' class='container'>
      <div class='page-header row'>
        <div class='col-sm-12 col-md-6'>
          <h2>Trial Search</h2>
          <form class="search form-inline" role="form">
            <div class="form-group">
              <div class="input-group">
                <label class="sr-only" for="search-text">Condition and Institution Search</label>
                <div class="input-group-addon">
                  <span class='glyphicon glyphicon-search'></span>
                </div>
                <input type="text" class="form-control" id="search-text" placeholder="Search by condition or institution.">
                <div class="btn btn-primary input-group-addon">
                  Search
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </header>
    <section class='container'>
      <div class='row'>
        <div class='col-sm-12 col-md-12'>
          <div class="panel panel-default">
            <div class="panel-heading">Showing all institutions.</div>
            <div id="map" class="panel-body">
              
            </div>
          </div>
        </div>
      </div> <!-- end .row -->
    </section>

{% include 'footer.html' %}