{% include 'header.html' %}
  <div id='index' class='index wrapper container'>
    <header id='main-search' class='container'>
      <div class='page-header row'>
        <div class='col-sm-12 col-md-6'>
          <h2>Trial Search</h2>
          <form class="search form-inline" role="form">
            <div class="form-group">
              <div class="input-group">
                <label class="sr-only" for="search-text">Condition and Institution Search</label>
                <div class="input-group-addon">
                  <span class='glyphicon glyphicon-search'></span>
                </div>
                <input type="text" class="form-control" id="search-text" placeholder="Condition or Institution Name">
                <div class="btn btn-primary input-group-addon">
                  Search
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </header>
    <section class='container'>
      <div class='row'>
        <div class='col-sm-12 col-md-12'>
          <div class="panel panel-default">
            <div id="map" class="panel-body">
              
            </div>
          </div>
        </div>
      </div> <!-- end .row -->
    </section>

    <!-- INDEX PAGE -->
    <script src="{{ url_for('static', filename='js/jquery-ui/jquery-ui.js') }}"></script>
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script src="http://leaflet.github.io/Leaflet.markercluster/dist/leaflet.markercluster-src.js"></script>
    <script src="{{ url_for('static', filename='js/map.js') }}"></script>
    <script src="{{ url_for('static', filename='js/search.js') }}"></script>

{% include 'footer.html' %}