<li  class='list-group-item row'>
  <a id='institution-017j69' class='institution' href="{{ url_for('institution') }}">
   <div class='institution-logo col-md-3'>
      <img class='img-rounded' src="{{ url_for('static', filename = 'assets/images/favicon.png') }}" alt="{ inst_name } Logo"/>
    </div> <!-- end .institution-logo -->
    <div class='institution-location caption col-xs-12 col-sm-12 col-md-9'>
      <h3 class='institution-name h4'>{ inst_name }</h3>
      <p class='institution-location text-muted'>{ inst_loc }</p>
      <p class='rating'>
        <span class='glyphicon glyphicon-star'></span>
        <span class='glyphicon glyphicon-star'></span>
        <span class='glyphicon glyphicon-star'></span>
        <span class='glyphicon glyphicon-star'></span>
        <span class='glyphicon glyphicon-star-empty'></span>
      </p>
    </div> <!-- end .institution-logo -->
  </a>
</li>