{% include 'header.html' %}

<div id='institution-{{ inst_id }}' class='institution wrapper'>
  <header class='page-header container'>
  	<div class='row'>
      {% if inst_img %}
        <div class='institution-logo col-md-1'>
          <img class='img-rounded' src="{{ inst_img }}" alt="{{ inst_name }} Logo"/>
        </div> <!-- end .institution-logo -->
      {% endif %}
      <div class='institution-location caption col-md-11'>
        <h1 class='institution-name'>{{ inst_name }}
        	<br><small>{{ inst_loc }}
          <span class='rating'>
            <span class='glyphicon glyphicon-star'></span>
            <span class='glyphicon glyphicon-star'></span>
            <span class='glyphicon glyphicon-star'></span>
            <span class='glyphicon glyphicon-star'></span>
            <span class='glyphicon glyphicon-star-empty'></span>
            <button type="button" class="btn btn-primary more-info" data-toggle="tooltip" data-placement="right" title=" {{ inst_rating_info }}">?</button>
          </span></small>
        </h1>
      </div> <!-- end .institution-location -->
    </div> <!-- end .row -->
    <div class='meta row'>
      <div class='summary small col-md-12'>        
        <span class='key'>Summary: </span>
        {{ inst_summary }}
      </div>
    </div> <!-- end .meta.row -->
  </header>
  <section class='container'>
    <div class='row'>
      <div id='top-conditions'class='col-xs-12 col-sm-12 col-md-6'>
        <h2>Top Conditions</h2>
      </div> <!-- end .top-conditions -->
      {% include 'trial_list.html' %}
    <div> <!-- end .row -->
  </section>
  <section class='bottom container'>
    <div class='row'>
      {% include 'researchers_list.html' %}
      {% include 'publications_list.html' %}
    </div> <!-- end .row -->
  </section>
</div> <!-- end #institution-id -->

<!-- INSTITUTION PAGE -->
<script src="{{ url_for('static', filename='js/d3.v3.min.js') }}"></script>
<script src="http://dimplejs.org/dist/dimple.v2.1.0.min.js"></script>

{% include 'footer.html' %}