<li  class='list-group-item row'>
  <a id='institution-017j69' class='institution' href="{{ url_for('institution') }}">
   <div class='institution-logo col-md-3'>
        <img class='img-rounded' src='http://upload.wikimedia.org/wikipedia/en/thumb/6/69/Northwestern_University_Seal.svg/1030px-Northwestern_University_Seal.svg.png' alt='Northwestern University Logo'/>
    </div> <!-- end .institution-logo -->
    <div class='institution-location caption col-xs-12 col-sm-12 col-md-9'>
      <h3 class='institution-name h4'>Northwestern University</h3>
      <p class='institution-location text-muted'>Chicago, IL</p>
      <p class='rating'>
        <span class='glyphicon glyphicon-star'></span>
        <span class='glyphicon glyphicon-star'></span>
        <span class='glyphicon glyphicon-star'></span>
        <span class='glyphicon glyphicon-star'></span>
        <span class='glyphicon glyphicon-star-empty'></span>
      </p>
    </div> <!-- end .institution-logo -->
  </a>
</li>