{% include 'header.html' %}

<div class='wrapper'>
  <header class='container'>
    <div class='page-header row'>
      <h1>Medical Subject Heading (MeSH) suggestions</h1>
    </div>
  </header>
  <section class='container'>
    <div class="row alert alert-success col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
      <p>This tool allows you to retrieve a list of suggested MeSH condition terms associated with the text you paste below.</p>
      <p>You are currently limited to 8,000 characters (8KB) of text.</p>
    </div>
    <div class='col-xs-12 col-sm-12 col-md-12'>
      <h3>Paste some text:</h3>
      <div class="form-group">
        <textarea class="form-control" rows="15" id="mesh-text"></textarea>
        <p>&nbsp;</p>
        <button id="submit-suggestion-text" type="button" class="btn btn-primary">
          Submit
        </button>
        <p>&nbsp;</p>
      </div>
      <div id="results-pane">
      </div>
    </div>
  </section>
</div>

{% include 'footer.html' %}
