  <div class="modal fade" id="create-user-modal" tabindex="-1" role="dialog" aria-labelledby="create-user-label" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="create-user-label">Create a DiscoverCT account</h4>
        </div>
        <div class="modal-body">
          <div class="input-group modal-input">
            <span class="input-group-addon">Full name:</span>
            <input id="input-full-name" type="text" class="form-control" placeholder="Full name" aria-describedby="input-full-name">
          </div>

          <div class="input-group modal-input">
            <span class="input-group-addon">Institution:</span>
            <input id="input-institution" type="text" class="form-control" placeholder="Institution name" aria-describedby="input-institution">
          </div>

          <div class="input-group modal-input">
            <span class="input-group-addon">Email:</span>
            <input id="input-email" type="text" class="form-control" placeholder="Email address" aria-describedby="input-email">
          </div>

          <div class="input-group modal-input">
            <span class="input-group-addon">Username:</span>
            <input id="input-username" type="text" class="form-control" placeholder="Username" aria-describedby="input-username">
          </div>

          <div class="input-group modal-input">
            <span class="input-group-addon">Password:</span>
            <input id="input-password" type="password" class="form-control" placeholder="Password" aria-describedby="input-password">
          </div>
        </div>
        <div class="modal-footer">
          <button id="create-user-cancel" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button id="create-user-submit" type="button" class="btn btn-primary" data-dismiss="modal">Create account</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="login-label" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="login-label">Login to DiscoverCT</h4>
        </div>
        <div class="modal-body">
          <div class="input-group modal-input">
            <span class="input-group-addon">Username:</span>
            <input id="input-username" type="text" class="form-control" placeholder="Username" aria-describedby="input-username">
          </div>

          <div class="input-group modal-input">
            <span class="input-group-addon">Password:</span>
            <input id="input-password" type="password" class="form-control" placeholder="Password" aria-describedby="input-password">
          </div>
        </div>
        <div class="modal-footer">
          <button id="login-cancel" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button id="login-submit" type="button" class="btn btn-primary" data-dismiss="modal">Login</button>
        </div>
      </div>
    </div>
  </div>