<!-- CREATE USER -->
  <div class="modal fade" id="create-user-modal" tabindex="-1" role="dialog" aria-labelledby="create-user-label" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="create-user-label">Create a DiscoverCT account</h4>
        </div>
        <div class="modal-body">
          <div>
            <p><b>Please note:</b> a DiscoverCT account is only required if you want to categorize current trials or structure their eligibility criteria. Searching and otherwise using the interface does not require a login.</p>
          </div>
          <div class="input-group modal-input">
            <span class="input-group-addon">Full name:</span>
            <input id="input-full-name" type="text" class="form-control" placeholder="Full name" aria-describedby="input-full-name">
          </div>

          <div class="input-group modal-input">
            <span class="input-group-addon">Institution:</span>
            <input id="input-institution" type="text" class="form-control" placeholder="Institution name" aria-describedby="input-institution">
          </div>

          <div class="input-group modal-input">
            <span class="input-group-addon">Email:</span>
            <input id="input-email" type="text" class="form-control" placeholder="Email address" aria-describedby="input-email">
          </div>

          <div class="input-group modal-input">
            <span class="input-group-addon">Username:</span>
            <input id="input-username" type="text" class="form-control" placeholder="Username" aria-describedby="input-username">
          </div>

          <div class="input-group modal-input">
            <span class="input-group-addon">Password:</span>
            <input id="input-password" type="password" class="form-control" placeholder="Password" aria-describedby="input-password">
          </div>
        </div>
        <div class="modal-footer">
          <button id="create-user-cancel" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button id="create-user-submit" type="button" class="btn btn-primary" data-dismiss="modal">Create account</button>
        </div>
      </div>
    </div>
  </div>

<!-- LOGIN -->
  <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="login-label" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="login-label">Login to DiscoverCT</h4>
        </div>
        <div class="modal-body">
          <div class="input-group modal-input">
            <span class="input-group-addon">Username:</span>
            <input id="input-username" type="text" class="form-control" placeholder="Username" aria-describedby="input-username">
          </div>

          <div class="input-group modal-input">
            <span class="input-group-addon">Password:</span>
            <input id="input-password" type="password" class="form-control" placeholder="Password" aria-describedby="input-password">
          </div>
        </div>
        <div class="modal-footer">
          <button id="login-cancel" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button id="login-submit" type="button" class="btn btn-primary" data-dismiss="modal">Login</button>
        </div>
      </div>
    </div>
  </div>





<!-- ACTIVE LEARNING: QUIT WARNING -->
  <div class="modal fade" id="quit-warning-modal" tabindex="-1" role="dialog" aria-labelledby="quit-warning-label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title" id="quit-warning-label">Warning!</h3>
        </div>
        <div class="modal-body">
          <h4>Exiting now will save your work, but you won't be able to continue developing this concept until an administrator has approved your contribution. Do you want to continue?</h4>
        </div>
        <div class="modal-footer">
          <button id="quit-warning-cancel" type="button" class="btn btn-default" data-dismiss="modal">No, take me back</button>
          <button id="quit-warning-submit" type="button" class="btn btn-danger" data-dismiss="modal">Yes, I'm done</button>
        </div>
      </div>
    </div>
  </div>

<!-- ACTIVE LEARNING: MANY REJECTS WARNING -->
  <div class="modal fade" id="rejects-warning-modal" tabindex="-1" role="dialog" aria-labelledby="rejects-warning-label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="rejects-warning-label">Caution!</h4>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
          <button id="rejects-warning-submit" type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>

<!-- ACTIVE LEARNING: 20 TERMS WARNING -->
  <div class="modal fade" id="terms-20-modal" tabindex="-1" role="dialog" aria-labelledby="terms-20-label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="terms-20-label">Caution!</h4>
        </div>
        <div class="modal-body">
          <p>You have discovered 20 new terms associated with this concept. For many concepts this is a nearly exhaustive list of possible related terms, so you may be served a large number of incorrect suggestions.</p>
          <p>Press "Stop" at any time to end the term discovery process and submit the concept for review.</p>
        </div>
        <div class="modal-footer">
          <button id="terms-20-submit" type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>

<!-- ACTIVE LEARNING: 10 ROUNDS ALERT -->
  <div class="modal fade" id="rounds-10-modal" tabindex="-1" role="dialog" aria-labelledby="rounds-10-label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="rounds-10-label">10 round limit reached</h4>
        </div>
        <div class="modal-body">
          <p>The concept creation process currently has a limit of 10 rounds of term discovery. Click "Close" to save your work and close this window.</p>
        </div>
        <div class="modal-footer">
          <button id="rounds-10-submit" type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

<!-- ACTIVE LEARNING: RENAME CONCEPT -->
  <div class="modal fade" id="rename-concept-modal" tabindex="-1" role="dialog" aria-labelledby="rename-concept-label" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="rename-concept-label">Rename this concept</h4>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
          <button id="rename-concept-cancel" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>







<!-- TOOLS: CRITERIA SEED TERM -->
  <div class="modal fade" id="create-concept-modal" tabindex="-1" role="dialog" aria-labelledby="create-concept-label" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="create-concept-label">Create a new concept</h4>
        </div>
        <div class="modal-body">
          <div>
            <p>Please enter a seed term for this concept (e.g., "cancer"):</p>
          </div>
          <div class="input-group modal-input">
            <input id="input-new-concept" type="text" class="form-control" placeholder="Seed term" aria-describedby="input-new-concept">
          </div>
        </div>
        <div class="modal-footer">
          <button id="create-concept-cancel" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button id="create-concept-submit" type="button" class="btn btn-primary" data-dismiss="modal">Start process</button>
        </div>
      </div>
    </div>
  </div>

<!-- TOOLS: ADMIN PAGE SELECTION -->
  <div class="modal fade" id="admin-select-modal" tabindex="-1" role="dialog" aria-labelledby="admin-select-label" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="admin-select-label">Select admin tool</h4>
        </div>
        <div class="modal-body">
          <div>
            <p>Please select the data you would like to review:</p>
          </div>
          <div id='tool-list' class="input-group modal-input">
            <div class='col-xs-12 col-sm-6 col-md-6'>
              <a id="admin-concept-tool" type="button" class="btn btn-primary" href="{{ url_for('approve_concepts') }}">
                <i class="fa fa-check-square-o" style="font-size: 3em; margin: .5em;"></i><br>
                Eligibility<br>concepts
              </a>
            </div>
            <div class='col-xs-12 col-sm-6 col-md-6'>
              <a id="admin-mesh-tool" type="button" class="btn btn-primary" href="{{ url_for('approve_mesh') }}">
                <i class="fa fa-tasks" style="font-size: 3em; margin: .5em;"></i><br>
                MeSH term<br>assignments
              </a>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button id="admin-select-cancel" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>






<!-- TRIAL: ADDING MESH TERMS -->
  <div class="modal fade" id="add-mesh-modal" tabindex="-1" role="dialog" aria-labelledby="add-mesh-label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="add-mesh-label">Tag more conditions</h4>
        </div>
        <div class="modal-body">
          <div>
            <p>These suggested conditions were automatically generated and may be related to this trial.</p>
            <p>Please check any that should definitely be associated with this trial, and this information will be submitted to a site adiminstrator for approval.</p>
          </div>
          <div class="input-group modal-input">
            {% if cond_list_s %}
              <ul id="add-mesh-list" class="no-disc h4">
                {% for cond in cond_list_s %}
                  <li class="modal-input">
                    <label class="checkbox-inline">
                      <input id="cond-{{ cond.id }}" type="checkbox" name="add-mesh-term" value="{{ cond.id }}"> {{ cond.name }}
                    </label>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
        </div>
        <div class="modal-footer">
          <button id="add-mesh-cancel" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button id="add-mesh-submit" type="button" class="btn btn-primary" data-dismiss="modal">Submit</button>
        </div>
      </div>
    </div>
  </div>

