  <div class="modal fade" id="create-user-modal" tabindex="-1" role="dialog" aria-labelledby="create-user-label" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="create-user-label">Create a DiscoverCT account</h4>
        </div>
        <div class="modal-body">
          <div>
            <p><b>Please note:</b> a DiscoverCT account is only required if you want to categorize current trials or structure their eligibility criteria. Searching and otherwise using the interface does not require a login.</p>
          </div>
          <div class="input-group modal-input">
            <span class="input-group-addon">Full name:</span>
            <input id="input-full-name" type="text" class="form-control" placeholder="Full name" aria-describedby="input-full-name">
          </div>

          <div class="input-group modal-input">
            <span class="input-group-addon">Institution:</span>
            <input id="input-institution" type="text" class="form-control" placeholder="Institution name" aria-describedby="input-institution">
          </div>

          <div class="input-group modal-input">
            <span class="input-group-addon">Email:</span>
            <input id="input-email" type="text" class="form-control" placeholder="Email address" aria-describedby="input-email">
          </div>

          <div class="input-group modal-input">
            <span class="input-group-addon">Username:</span>
            <input id="input-username" type="text" class="form-control" placeholder="Username" aria-describedby="input-username">
          </div>

          <div class="input-group modal-input">
            <span class="input-group-addon">Password:</span>
            <input id="input-password" type="password" class="form-control" placeholder="Password" aria-describedby="input-password">
          </div>
        </div>
        <div class="modal-footer">
          <button id="create-user-cancel" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button id="create-user-submit" type="button" class="btn btn-primary" data-dismiss="modal">Create account</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="login-label" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="login-label">Login to DiscoverCT</h4>
        </div>
        <div class="modal-body">
          <div class="input-group modal-input">
            <span class="input-group-addon">Username:</span>
            <input id="input-username" type="text" class="form-control" placeholder="Username" aria-describedby="input-username">
          </div>

          <div class="input-group modal-input">
            <span class="input-group-addon">Password:</span>
            <input id="input-password" type="password" class="form-control" placeholder="Password" aria-describedby="input-password">
          </div>
        </div>
        <div class="modal-footer">
          <button id="login-cancel" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button id="login-submit" type="button" class="btn btn-primary" data-dismiss="modal">Login</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="quit-warning-modal" tabindex="-1" role="dialog" aria-labelledby="quit-warning-label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title" id="quit-warning-label">Warning!</h3>
        </div>
        <div class="modal-body">
          <h4>Exiting now will save your work, but you won't be able to continue developing this concept until an administrator has approved your contribution. Do you want to continue?</h4>
        </div>
        <div class="modal-footer">
          <button id="quit-warning-cancel" type="button" class="btn btn-default" data-dismiss="modal">No, take me back</button>
          <button id="quit-warning-submit" type="button" class="btn btn-danger" data-dismiss="modal">Yes, I'm done</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="create-concept-modal" tabindex="-1" role="dialog" aria-labelledby="create-concept-label" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="create-concept-label">Create a new concept</h4>
        </div>
        <div class="modal-body">
          <div>
            <p>Please enter a seed term for this concept (e.g., "cancer"):</p>
          </div>
          <div class="input-group modal-input">
            <input id="input-new-concept" type="text" class="form-control" placeholder="Seed term" aria-describedby="input-new-concept">
          </div>
        </div>
        <div class="modal-footer">
          <button id="create-concept-cancel" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button id="create-concept-submit" type="button" class="btn btn-primary" data-dismiss="modal">Start process</button>
        </div>
      </div>
    </div>
  </div>




