<div class='researchers col-xs-4 col-sm-4 col-md-4'>
	<h2>Researchers</h2>
  <ul class='list-group overflow'>
    <li  class='researcher list-group-item'>
      <h3 class='researcher-name h4'>Leora Horn, MD <small>(210 trials)</small></h3>
    </li>
    <li  class='researcher list-group-item'>
      <h3 class='researcher-name h4'>Meredith Shepherd, MD <small>(158 trials)</small></h3>
    </li>
    <li  class='researcher list-group-item'>
      <h3 class='researcher-name h4'>Chris Turkle, MD <small>(137 trials)</small></h3>
    </li>
    <li  class='researcher list-group-item'>
      <h3 class='researcher-name h4'>Miranda Bailey, MD <small>(46 trials)</small></h3>
    </li>
    <li  class='researcher list-group-item'>
      <h3 class='researcher-name h4'>Elliot Reid, MD <small>(46 trials)</small></h3>
    </li>
    <li  class='researcher list-group-item'>
      <h3 class='researcher-name h4'>Perry Cox, MD <small>(46 trials)</small></h3>
    </li>
    <li  class='researcher list-group-item'>
      <h3 class='researcher-name h4'>Bob Kelso, MD <small>(46 trials)</small></h3>
    </li>
  </ul>
</div>