  <div id='site-list' class='bottom'>
    <h2>Associated Sponsors and Sites</h2>
    <div class='overflow overflow-sites'>
      {% if sponsor_list|length > 0 %}
        <h3>Sponsors</h3>
        <ul class='list-group'>
          {% for sponsor in sponsor_list %}
            <li><i class="fa fa-angle-right"></i> <span style="font-weight:bold">{{ sponsor.name }}</span> ({{ sponsor.cnt }} trials)</li>
          {% endfor %}
        </ul>
      {% endif %}
      {% if facility_list|length > 0 %}
        <h3>Research Sites</h3>
        <ul class='list-group'>
          {% for facility in facility_list %}
            <li class='facility'>
              <span style="font-weight:bold">{{ facility.name }}</span> ({{ facility.cnt }} trials)<br />
              {{ facility.address|safe }}<br />
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div> <!-- end .site-list -->

  <script>
    {% if (sponsor_list|length) + (facility_list|length * 3) >= 9 %}
      $(".overflow-sites").css("height", "350px");
    {% elif (sponsor_list|length) + (facility_list|length * 3) >= 6 %}
      $(".overflow-sites").css("height", "200px");
    {% else %}
      $(".overflow-sites").css("height", "150px");
    {% endif %}
  </script>