<div id='trial-container'>
<div id='trial-filter' class='col-xs-12 col-sm-2 col-md-2'>
  <div>
    <input id="filter-type-switch" type="checkbox" checked data-size="mini" data-on-text="Patient<br>view" data-off-text="Researcher<br>view" data-label-text="<div style='font-size: 10px; line-height: 1em; color: #888'>Go to<br>researcher<br>view</div>" data-off-color="primary">
    <p></p>
  </div>
  <div id='filter-list' class="overflow-stopped">
  </div>
</div>
<div id='trial-list' class='col-xs-12 col-sm-10 col-md-10 overflow-stopped'>
<i id='trial-list-spinner' class="fa fa-spinner fa-pulse spinner" style="font-size: 5em; margin: .5em;"></i>
</div> 
</div> <!-- end #trial-container -->

<script src="{{ url_for('static', filename='js/trial_list.js') }}"></script>

