<div id='trial-container'>
<div id='trial-filter' class='col-xs-12 col-sm-2 col-md-2'>
  <h4>Filters</h4>
  <h5>Trial Status</h5>
    <select multiple class="form-control">
        <option>All (default)</option>
        <option>Completed</option>
        <option>Recruiting</option>
        <option>Active, not recruiting</option>
        <option>Not yet recruiting</option>
        <option>Terminated</option>
        <option>Withdrawn</option>
        <option>Enrolling by invitation</option>
        <option>Suspended</option>
        <option>Withheld</option>
        <option>Available</option>
        <option>No longer available</option>
        <option>Approved for marketing</option>
        <option>Temporarily not available</option>
    </select>
  <h5>Intervention Type</h5>
    <select multiple class="form-control">
        <option>All (default)</option>
        <option>Drug</option>
        <option>Procedure</option>
        <option>Behavioral</option>
        <option>Device</option>
        <option>Biological</option>
        <option>Dietary Supplement</option>
        <option>Radiation</option>
        <option>Genetic</option>
        <option>Other</option>
    </select>
</div>
<div id='trial-list' class='col-xs-12 col-sm-10 col-md-10 overflow'>
</div> 
</div> <!-- end #trial-container -->
